<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="container">
    <p>We are a website with a diverse array of products. This is your one stop shop for all the crap you never knew you always wanted</p>
  </div>

</section> 